/* .plant {
  padding: 2em;
  margin: 1em;
} */

.frame {
  padding: 0em 2em !important;
}
.aife {
  align-items: flex-end !important;
}
.plant_box {
  display: flex;

  justify-content: space-between;
  border-radius: 0.5em;
}
.vertical {
  display: flex;
  flex-direction: column;
}
.drop_position {
  padding: 3em;
  margin: 1em;
  display: flex;
  justify-content: center;
  border: rgba(255, 255, 255, 0.4) 1px dashed;
}

.white-soft {
  color: rgba(255, 255, 255, 0.712);
}

.card:hover,
.navbar:hover,
.plant_box:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.center {
  display: flex;
  justify-content: center !important;
}

.mainContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  justify-content: space-between;
  /* height: 600px;
  overflow: auto; */
  width: 100%;
}

.shape {
  background-color: #50372c !important;
  background-image: url("https://www.transparenttextures.com/patterns/natural-paper.png");

  border-radius: 0.5em;

  /* height: 750px; */
}

.pink {
  background-color: pink !important;
}
.blue {
  background-color: lightblue !important;
}

.dragInGarden > p {
  font-size: 0.8em;
}
.dragInGarden > * {
  margin: 0px !important;
  padding: 0px !important;
}

.left_column {
  display: flex;
  flex-direction: column;
  padding-left: 0px !important;
}
.right_column {
  padding-right: 0px !important;
}

img {
  width: 125px;
  height: 75px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  color: #62c462;
  font-size: 1.8em;
  padding-left: 2em;
  padding-right: 0.3em;
}

.w-100 {
  width: 100% !important;
}
.cgray {
  color: rgba(160, 160, 160, 0.7) !important;
}

input,
select {
  text-align: center;
}

.nav-link {
  padding: 1em 1.3em !important;
}
.btn-link {
  text-decoration: none !important;
  padding-top: 1em !important;
}

.fdc {
  flex-direction: column;
}

.left-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.left-column > div {
  padding: 3em !important;
}

.tik {
  display: flex;
}

/* //space right */
.sl {
  padding-left: 0.5em !important;
}

.pc_info {
  padding-left: 1.5em;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
  .frameInt {
    display: flex;
    flex-direction: column;
  }
  .center_column {
    margin: 2em 0em !important;
  }

  .left_column {
    padding-right: 0em;
  }

  
} */
