/* .plant {
  padding: 2em;
  margin: 1em;
} */

.vertical {
  display: flex;
  flex-direction: column;
}
.drop_position {
  padding: 3em;
  margin: 0.5em;
  display: flex;
  justify-content: center;
  border: rgba(255, 255, 255, 0.342) 1px dashed;
}

.white-soft {
  color: rgba(255, 255, 255, 0.712);
}
.right {
  /* background-color: rgba(255, 217, 0, 0.7); */
  /* padding: 1em; */
  display: flex;
  justify-content: space-around;

  flex-direction: column;
 
  /* background-color: aqua; */
}

.right > div  {
  padding: 2em;
  /* border: hotpink 1px solid; */
}

.left {
  background-color: rgba(255, 217, 0, 0.5);
  /* padding: 1em; */
  display: flex;
  justify-content: center !important;
  padding: 3em;
  border: solid black 1px;
}

.center {
  display: flex;
  justify-content: center !important;
}

.mainContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  justify-content: space-between;
  /* height: 600px;
  overflow: auto; */
  width: 100%;
}

.shape {
  background-color: #50372c !important;
  background-image: url("https://www.transparenttextures.com/patterns/natural-paper.png");
  width: 85%;
  /* height: 550px; */
}

.pink {
  background-color: pink !important;
}
img {
  width: 125px;
  height: 62px;
  
}
/* .pic {
  background-image: url("./src/assets/7.png") !important;
  height: 100px;
  width: 200px;
} */
